<%- include ('partials/header')  %>
<%-include('partials/nav')  %> 

<form method="POST" action="/signup">

  <% if(error){ %>
    <p><%= errorMessage  %></p>
    <input type="text" name="email" id = "" value="<%= email  %> "> 
    <input type="text" name="fullname" id = "" value="<%= fullname %> ">
    <input type="text" name="gender"  id = "" value="<%= gender %> ">
    <input type="password" name="password" id = ""  value="<%= password %> ">
    <input type="password" name="confirmpassword" id = "" value="<%= confirmpassword %> ">

    <% } else{ %> 
        <label for="email"> email</label>
   <input type="text" name="email" id="" >
   <label for="fullname"> fullname</label>
   <input type="text" name="fullname" id="">
   <label for="gender"> Gender</label>
   <input type="text" name="gender"id="">
   <label for="Password">password</label>
   <input type="password" name="password" id="">
   <label for="Password">confrim Password</label>
   <input type="password" name="confirmpassword"id="">
      <% } %> 

 

  
   <input type="submit" value="signup">
  <span>Already have an account </span> <a href="/login">Sign in </a>
</form>

<%- include('partials/footer')  %> 